body {

    margin: 0;
    height: 100vh;
    background: url("nature-3082832_1280.jpg") no-repeat center center/cover;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

.login-box button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.google {
    background: #db4437;
}

.link {
    color: blue;
    cursor: pointer;
    font-size: 14px;
}